@import 'variables';

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 1rem auto;

    @media (max-width: 768px) {
        width: 95%;
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
        margin: 2rem 2rem 0rem 2rem;
        width: 100%;

        @media (max-width: 768px) {
            margin: 1rem 1rem 0rem 1rem;
        }
    }
}

.collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    border-radius: 0.63rem;
    width: 100%;

    @media (max-width: 768px) {
        border-radius: 0.3125rem;
    }

    &__title {
        margin-left: 1.13rem;
        @include text-typography;
        font-size: 1rem;
        margin-top: 0.35rem;
        margin-bottom: 0.46rem;

        @media (max-width: 768px) {
            border-radius: 0.3125rem;
            font-size: .75rem;
        }
    }

    &__arrow {
        color: $color-text;
        font-size: 1.2rem;
        margin: 1rem 1.13rem 0.46rem 0;
    }

    &__content {
        @include text-typography;
        font-weight: 400;
        font-size: 1rem;
        color: $primary-color;
        background-color: $secondary-color;
        border-radius: 0 0 0.63rem 0.63rem;
        padding: 2.25rem 1.69rem 1.19rem 1.12rem;
        flex-shrink: 0;

        & ul li {
        list-style-type: none;
        }

        @media (max-width: 768px) {
            font-size: .75rem;
            height: 8rem;
            border-bottom: 1rem;
        }
    }
}