@import 'variables';

.card {
    width: 29%;
    margin: 2rem auto 1rem auto;

    &__link {
        text-decoration: none;
    }

    &__cover {
        width: 100%;
        height: 290px;
        object-fit: contain;
        border-radius: 1rem;
    }

    &__title {
        position: absolute;
        z-index: 1;
        font-size: 1.1rem;
        // @include text-typography;
    }
}

