@import 'variables';

.caroussel {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &:hover {
        .caroussel__picture__index {
            opacity: 1;
        }
    }

    &__container {
        display: flex;
        transition: transform .7s ease;


        &__image {
            width: 100%;
            height: 350px;
            border-radius: 1.53rem;
            flex-shrink: 0;
            object-fit: cover;
            @media (max-width: 768px) {
                border-radius: .7rem;
            }
        }
    }

    &__arrowsControl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media (max-width: 768px) {
            padding: 1rem 0;
        }


        &__img {
            width: 50px;
            height: auto;
            font-size: 3rem;
            color: white;
            cursor: pointer;
            :hover {
                opacity: 1;
            } 
            @media (max-width: 768px) {
                width: 13px;
                font-size: 2rem;
            }
        }
    }
    
    &__picture__index {
    position: absolute;
    color: white;
    bottom: 10px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    }
}

.header-housing {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:768px) {
        flex-direction: column;
    }

    &__info {
        width: 90%;
        @include text-typography;
        color: $primary-color;
        font-size: 1rem;
        @media (max-width: 768px) {
            width: 100%;
            margin-top: 0.9rem;
        }
        &__title {
            font-weight: 500;
        }

        &__subtitle {
            font-size: 1rem;
            margin-bottom: .7rem;
            font-weight: 500;
        }

        &__tags {
            display: flex;
            text-align: center;
        }

        &__tags > p {
            background-color: $primary-color;
            border-radius: 0.63rem;
            font-size: .7rem;
            color: $secondary-color;
            margin-right: .62rem;
            padding: 0.4rem 2.33rem;
            @media (max-width: 768px) {
                padding: .1rem 1rem;
            }
        }
    }

    &__host {
        display: flex;
        flex-direction: column;
        text-align: center;
        @media (max-width: 768px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__info {
            display: flex;
            margin-top: 1rem;
            @media (max-width: 768px) {
                align-items: center;
            }

            &__name {
                font-size: 1rem;
                color: $primary-color;
                @media (max-width: 768px) {
                    width: 45%;
                }
            }

            &__picture {
                width: 5.5rem;
                border-radius: 50%;
            }
        }
    }
}

.stars {
    text-align: right;
    margin-top: 1rem;

    & > i {
        margin-left: .7rem;
    }
    &__stars--color {
        color: $primary-color;
        &--grey {
            color: rgb(13, 148, 31);
        }
    }
}

.housing-section__collapses {
    display: flex;
    width: 90%;
    margin: 1.5rem auto;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__content {
        width: 47%;
        @media (max-width: 768px ) {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}