@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto;
  width: 95%;
}
.header__logo {
  width: 10rem;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  color: #FF6060;
}
.navbar ul {
  display: flex;
}
.navbar__link {
  display: flex;
  text-decoration: none;
}
.navbar__link:active {
  text-decoration: underline;
}