@import 'variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem auto;
    width: 90%;
    @media (max-width: 768px) {
        margin: 1.25rem auto;
    }

    &__logo {
        width: 10rem;
        @media (max-width: 768px) {
            width: 6.8rem;;
        }
    }
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;

    &__link {
        color: $primary-color;
        margin-left: 3rem;

        @media (max-width: 768px) {
            font-size: .75rem;
            margin-left: 1rem;
        }

        &--isActive {
            text-decoration: underline;
        }
        &--inActive {
            text-decoration: none;
        }
    }
}


